@charset "UTF-8";
/* Webサイト全体のスタイル設定・初期化 */
/* init ua styles */
*,
*::before,
*::after {
  min-width: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding-left: 1.25em;
}

p {
  text-align: justify;
}

[class*=c-list] {
  padding-left: 0;
  list-style: none;
}

[class*=c-table] {
  table-layout: fixed;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

[tabindex="-1"]:focus-visible:not(:focus-visible-visible) {
  outline: 0 !important;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

abbr[title],
abbr[data-original-title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}
abbr[title][data-reset],
abbr[data-original-title][data-reset] {
  text-decoration: none;
}

address {
  font-style: normal;
  line-height: inherit;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 65%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}
@media (any-hover: hover) {
  a:hover {
    text-decoration: underline;
  }
  a.c-hover-underline-less:hover {
    text-decoration: none;
  }
  a[href^=tel] {
    pointer-events: none;
    cursor: text;
    text-decoration: none;
  }
}
a:not([class]) {
  text-decoration: underline;
}
a[href^=tel] {
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

em {
  font-weight: 700;
  font-style: inherit;
}

img,
picture {
  max-width: 100%;
  border-style: none;
}

img {
  height: auto;
  display: block;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  max-width: 100%;
  fill: currentcolor;
  font-size: inherit;
}
svg:not([width]), svg:not([height]) {
  width: 1em;
  height: 1em;
}

table {
  border-collapse: collapse;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
  outline: none;
  border: hidden;
  background: transparent;
}

button:focus-visible {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font: inherit;
  line-height: inherit;
}

@media (any-hover: none) {
  input,
  textarea,
  select {
    font-size: 16px;
  }
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  color: inherit;
  word-wrap: normal;
}

button,
[type=button],
[type=reset],
[type=submit] {
  padding: 0;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  appearance: button;
  color: inherit;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

[disabled] {
  cursor: not-allowed;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
}

[type=radio] {
  border-radius: 49.9%;
}

[type=file] {
  cursor: pointer !important;
}

input[readonly] {
  border: hidden !important;
}

input[type=radio],
input[type=checkbox] {
  padding: 0;
  flex: 0 0 auto;
  margin-right: 3px;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
          appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
iframe {
  display: block;
}

/* init base styles */
body {
  min-height: 100vh;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: "Noto Sans JP";
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: normal;
  font-weight: 400;
  font-feature-settings: "palt" 1;
}

* {
  margin: 0;
  padding: 0;
}

.c-heading__inner {
  background: #fff;
  display: flex;
  height: 100px;
}
.c-heading__inner-logo {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.c-heading__inner-logo .fv-logo {
  width: 100%;
  height: auto;
}
.c-heading__inner-list {
  display: flex;
  margin: 0 0 0 auto;
  padding-right: 90px;
}
.c-heading__inner-item {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
  list-style: none;
}

.p-mv {
  position: relative;
}
.p-mv .c-mv__img {
  width: 100%;
  height: auto;
}
.p-mv .c-mv__copy {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0px;
  font-size: 50px;
  color: #fff;
  font-weight: normal;
  line-height: 90px;
}

.p-about {
  padding-top: 100px;
  max-width: 1170px auto;
}
.p-about__text {
  width: 770px;
  margin: 0 auto;
  max-width: 100%;
}

.c-title__main {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}
.c-title__main::first-letter {
  color: #151a8c;
}
.c-title__main .c-title__sub {
  font-size: 48px;
  margin-right: 40px;
}

.c-about__panel {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
  width: 1180px;
  margin: 0 auto;
  max-width: 100%;
}

.p-news-event {
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 110px;
}

.c-news {
  width: 50%;
  padding-right: 40px;
}

.c-title__left {
  text-align: left;
}

.c-box__item {
  border-top: 1px solid #dddddd;
  padding: 18px 0;
  list-style: none;
  position: relative;
}
.c-box__item::before {
  content: "";
  width: 17px;
  height: 18px;
  background-image: url(../../assets/images/arrow-icon-blue.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%);
}

.c-button {
  background: #151a8c;
  width: 270px;
  height: 60px;
  border-radius: 30px;
  margin: 60px auto auto auto;
  position: relative;
}
.c-button::before {
  content: "";
  width: 17px;
  height: 18px;
  background-image: url(../../assets/images/arrow-icon-white.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(-50%, -50%);
}
.c-button__text {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-event {
  width: 50%;
}

.p-column {
  padding: 110px 0 65px 0;
  position: relative;
}
.p-column::before {
  content: "";
  width: 100%;
  height: 450px;
  background: #151a8c;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.c-card {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}
.c-card__thumbnail {
  width: 270px;
  height: 160px;
  border-radius: 8px 8px 0 0;
  background: #ccc;
}
.c-card__about {
  padding: 25px 20px;
  width: 230px;
  background: #fff;
  font-weight: bold;
  border-radius: 0 0 8px 8px;
}
.c-card__about-date {
  font-size: 12px;
  padding-bottom: 25px;
}
.c-card__about-text {
  font-size: 16px;
  padding-bottom: 30px;
  line-height: 1.5;
}
.c-card__about-tag {
  background: #151a8c;
  width: 54px;
  height: 20px;
  border-radius: 10px;
  position: relative;
}
.c-card__about-tag-text {
  font-size: 9px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.c-card__about-tag--green {
  background: #268c15;
  width: 75px;
}
.c-card__about-tag--orange {
  background: #df541e;
}
.c-card__about-tag--pink {
  background: #e629a1;
}

.c-button__white {
  background: #fff;
}
.c-button__white::before {
  background-image: url(../../assets/images/arrow-icon-blue.png);
}
.c-button__white .c-button__text--blue {
  color: #151a8c;
  font-weight: bold;
}

.c-access {
  padding-top: 100px;
}
.c-access__text {
  text-align: center;
  font-size: 16px;
}
.c-access-map {
  text-align: center;
  padding-top: 35px;
}
.c-access-map__box {
  width: 770px;
  margin: 0 auto;
  padding: 15px 0 110px 0;
}
.c-access-map__box .c-access-map__list {
  display: flex;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
}
.c-access-map__box .c-access-map__list .c-access-map__item {
  list-style: none;
  text-align: left;
  font-size: 14px;
}
.c-access-map__box .c-access-map__list .c-access-map__item:first-child {
  width: 30%;
  font-weight: bold;
}
.c-access-map__box .c-access-map__list .c-access-map__item:nth-child(2) {
  width: 50%;
}
.c-access-map__box .c-access-map__list .c-access-map__item:nth-child(3) {
  width: 20%;
}

.c-inquiry {
  background: linear-gradient(-46deg, rgb(0, 93, 172) 0%, rgb(21, 26, 140) 100%);
  padding: 50px 0 60px 0;
}
.c-inquiry__text {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  color: #fff;
  letter-spacing: 1px;
  padding-bottom: 43px;
}

.c-inquiry-tel__box {
  background: #fff;
  border-radius: 8px;
  width: 570px;
  text-align: center;
  margin: 0 auto;
  padding: 42px 0 35px 0;
}
.c-inquiry-tel__box-number {
  font-weight: bold;
  color: #151a8c;
  padding-bottom: 25px;
}
.c-inquiry-tel__box-number--secondary {
  font-size: 20px;
}
.c-inquiry-tel__box-number--primary {
  font-size: 30px;
}
.c-inquiry-tel__box-text {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #000;
}

.c-footer-logo {
  text-align: center;
  padding: 66px 0 42px 0;
}
.c-footer__sitemap {
  width: 655px;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 40px;
}
.c-footer__sitemap-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.c-footer__small {
  background: #333;
  height: 30px;
  text-align: center;
}
.c-footer__small-text {
  color: #fff;
  font-size: 12px;
}/*# sourceMappingURL=main.css.map */