$white:#fff;
$blue: #151a8c;


.c-inquiry{
    background: linear-gradient( -46deg, rgb(0,93,172) 0%, rgb(21,26,140) 100%);
    padding: 50px 0 60px 0;
    
    // c-inquiry__text
    &__text{
        font-weight: bold;
        text-align: center;
        font-size: 54px;
        color: $white;
        letter-spacing: 1px;
        padding-bottom: 43px;
    }
}

.c-inquiry-tel__box{
    background: #ffffff;
    border-radius: 8px;
    width: 570px;
    text-align: center;
    margin: 0 auto;
    padding: 42px 0 35px 0;

    // c-inquiry-tel__box-number
    &-number{
        font-weight: bold;
        color: $blue;
        padding-bottom: 25px;

        // c-inquiry-tel__box-number--secondary
        &--secondary{
            font-size: 20px;
        }
        // c-inquiry-tel__box-number--primary
        &--primary{
            font-size: 30px;
        }
    }
    // c-inquiry-tel__box-text
    &-text{
        font-size: 14px;
    }
}




