$blue: #151a8c;

.p__about{
    padding-top: 100px;
    max-width: 1170px auto;

    .c__about--text{
        width: 770px;
        margin: 0 auto;
    }
}

// タイトル
.c__title--main{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;

    .c__title-main-blue{
     color: $blue;
    }

    .c__title--sub{
     font-size: 48px;
     margin-right: 40px;
    }
 }

.c__panel--img{
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    width: 1180px;
    margin: 0 auto;
}


