.c-access{
    padding-top: 100px;
    .c-access__text{
        text-align: center;
        font-size: 16px;
    }
    .c-access-map{
        text-align: center;
        padding-top: 35px;
    }
}

.c-access-map__box{
    width: 770px;
    margin: 0 auto;
    padding: 15px 0 110px 0;
    .c-access-map__list{
        display: flex;
        padding: 10px 15px;
        border-bottom: 1px solid #ccc;
        .c-access-map__item{
            list-style: none;
            text-align: left;
            font-size: 14px;
            &:first-child{
                width: 30%;
                font-weight: bold;
            }
            &:nth-child(2){
                width: 50%;
            }
            &:nth-child(3){
                width: 20%;
            }
        }
    }
}
