$blue: #151a8c;
$green: #268c15;
$orange: #df541e;
$pink: #e629a1;
$white: #fff;

.c-column{
    padding: 110px 0 65px 0;
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 450px;
        background: $blue;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

.c-card{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    .c-card__thumbnail{
        width: 270px;
        height: 160px;
        border-radius: 8px 8px 0 0;
        background: #ccc;
    }
    .c-card__about{
        padding: 25px 20px;
        width: 230px;
        background: $white;
        font-weight: bold;
        border-radius: 0 0 8px 8px;
        .c-card__date{
            font-size: 12px;
            padding-bottom: 25px;
        }
        .c-card__about-text{
            font-size: 16px;
            padding-bottom: 30px;
            line-height: 1.5;
        }
        .c-card__tag{
            background: $blue;
            width: 54px;
            height: 20px;
            border-radius: 10px;
            position: relative;
            .c-card__tag-text{
                font-size: 9px;
                color: $white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        .c-card__tag--green{
            background: $green;
            width: 75px;
        }
        .c-card__tag--orange{
            background: $orange;
        }
        .c-card__tag--pink{
            background: $pink;
        }
    }
}

.c-button__white{
    background: $white;
    &.c-button__white::before{
        background-image: url(../../assets/images/arrow-icon-blue.png);
    }
    .c-button__text--blue{
        color: $blue;
        font-weight: bold;
    }
}