
.header__inner--nav{
    background: #fff;
    display: flex;
    height: 100px;
    .header__inner--logo{
        display: flex;
        align-items: center;
        margin-left: 40px;
    }
    .header__inner--list{
        display: flex;
        margin: 0 0 0 auto;
        padding-right: 90px;
        .header__inner--item{
           padding: 10px 20px;
           display: flex;
           align-items: center;
        }
    }
}