*{
    margin: 0;
    padding: 0;
}


.c-heading__inner{
    background: #fff;
    display: flex;
    height: 100px;

    // c-heading__inner-logo
    &-logo{
        display: flex;
        align-items: center;
        margin-left: 40px;

        .fv-logo{
            width: 100%;
            height: auto;
        }
    }

    // c-heading__inner-list
    &-list{
        display: flex;
        margin: 0 0 0 auto;
        padding-right: 90px;
    }
    
    // c-heading-nav__inner-item
    &-item{
        padding: 10px 20px;
        display: flex;
        align-items: center;
        font-weight: bold;
        list-style: none;
    }
}