$white: #fff;

.c__mv--bg{
    position: relative;
    .mv__bg--img{
        width: 100%;
        height: auto;
    }

    .mv__bg--copy{
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
        bottom: 0px;
        font-size: 50px;
        color: $white;
        font-weight: normal;
        line-height: 90px;
    }
}