$white: #fff;

.p-mv{
    position: relative;
    .c-mv__img{
        width: 100%;
        height: auto;
    }

    .c-mv__copy{
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
        bottom: 0px;
        font-size: 50px;
        color: $white;
        font-weight: normal;
        line-height: 90px;
    }
}